.content {
  display: flex;
  gap: 3rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

app-navigation-menu {
  position: sticky;
  top: 0;
  height: min-content;
}

app-title-ruler {
  display: block;
  margin-bottom: .25rem;
}
