:host {
  display: flex;
  overflow: auto;
}

@media (max-width: 70rem) {
  :host {
    flex-direction: column;
  }

  div {
    padding-left: var(--app-padding) !important;
  }

  app-navigation-menu {
    padding-bottom: 0 !important;
  }
}

div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  overflow: auto;
  padding: 1rem var(--app-padding) var(--app-padding) 3rem;
}

app-navigation-menu {
  padding: 1rem var(--app-padding);
}

app-title-ruler {
  display: block;
  margin-bottom: .25rem;
}

app-party-highlighter {
  overflow: hidden;
}
