footer {
  min-height: 2rem;
  height: 5dvh;
}

hr {
  border: none;
  margin: 0;
  width: 100%;
  height: .125rem;
  background-color: #858d98;
  margin-bottom: .25rem;
}

div {
  display: flex;
  align-items: flex-end;
  gap: .75rem;
  max-width: var(--app-max-width);
  margin: 0 auto;
  padding: 0 var(--app-padding);
  text-wrap: nowrap;
}

span {
  display: flex;
  align-items: flex-end;
  gap: .25rem;
}

svg {
  width: auto;
  height: 1.25rem;
}
