header {
  display: flex;
  align-items: end;
  position: relative;
  min-height: 2rem;
  height: 5dvh;

  & > span {
    --left-offset: 6.75rem;
    position: absolute;
    bottom: .15rem;
    left: max(
      calc(var(--app-padding) + var(--left-offset)),
      calc(((100dvw - var(--app-max-width)) / 2) + var(--left-offset))
    );
  }
}

hr {
  --left-offset: 1rem;
  border: none;
  margin: 0;
  height: .125rem;
  background-color: #646168;

  &:first-of-type {
    min-width: calc(var(--app-padding) + var(--left-offset));
    width: calc(((100dvw - var(--app-max-width)) / 2) + var(--left-offset));
  }

  &:last-of-type {
    flex-grow: 1;
  }
}

div {
  display: flex;
  justify-content: end;
  position: relative;
  font-family: 'Xoireqe';

  & > span:nth-child(1) {
    position: absolute;
    color: #6f7080;
    font-size: 3rem;
    font-style: italic;
    transform: scale(1.2, .6) translate(-2.1rem, -2.25rem);
  }

  & > span:nth-child(2) {
    color: #2e2b35;
    font-size: .75em;
    letter-spacing: .2rem;
    transform: translateY(.2rem);
    padding-left: 1rem;
  }
}
