<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>{{ columnTitle() }}</th>
      <th></th>
      <th>{{ columnTitle() }}</th>
    </tr>
  </thead>
  <tbody (mouseleave)="hideCursor()">
    @for (entryPair of entryPairs(); track $index; let yIndex = $index) {
      <tr>
        @for (entry of entryPair; track $index; let xIndex = $index) {
          @if (entry) {
            <td
              (click)="setSelectedEntry(entry)"
              (mouseenter)="moveCursor($event, xIndex, yIndex)"
              [class.selected]="selectedEntry() === entry"
            >
              @if (selectedEntry() === entry) {
                <app-cursor [glide]="true" />
              }
              <div>
                {{ entry.name }}
              </div>
            </td>
            <td
              (click)="setSelectedEntry(entry)"
              (mouseenter)="moveCursor($event, xIndex, yIndex)"
              [class.selected]="selectedEntry() === entry"
            >
              @if (entry | isInstanceOf:Item) {
                {{ entryAs(entry, Item).quantity.toString().padStart(2, '0') }}
              } @else if ((entry | isInstanceOf:Weapon) && (entryAs(entry, Weapon).isEquipped)) {
                <div [style.display]="'flex'">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="white" />
                  </svg>
                </div>
              }
            </td>
          } @else {
            <td></td>
            <td></td>
          }
        }
      </tr>
    }
  </tbody>
</table>
@if (isCursorVisible()) {
  <app-cursor
    [selection]="true"
    [style.left.px]="cursorX()"
    [style.top.px]="cursorY()"
  />
}
