.page {
  display: flex;
  gap: 3rem;
}

.ruler-title {
  font-family: 'Two Weekends Sans';
  font-weight: bold;
  color: white;

  &.start {
    text-align: start;
  }

  &.end {
    text-align: end;
  }
}

.ruler {
  height: 2px;
  margin-bottom: 0.25rem;
  background: white;
}

.categories-container {
  max-width: var(--app-categories-max-width);
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgb(30, 30, 30), transparent);
  overflow: hidden;
  font-family: 'Two Weekends Sans';
  font-weight: bold;
  color: white;
}

.category-cursor {
  position: absolute;
  transform: translateX(140%) translateY(20%);
  z-index: 1;
  display: none;
}

.category {
  display: flex;
  align-items: end;
  width: 45rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100'><polygon points='0,1.5 18,1.5 100,100 0,100' fill='rgb(30, 30, 30)' /></svg>");
  background-size: cover;

  & span {
    transform: translateX(8rem);
  }

  &.active .category-cursor {
    display: block;
  }

  &:not(.active):hover .category-cursor {
    display: block;
    opacity: 0.5;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.1rem;
    top: 0;
    background: linear-gradient(to right, rgb(137, 137, 137), transparent);
  }
}

.table-container {
  color: white;
  position: relative;
  overflow: visible;
  z-index: 0;
}

.table {
  width: 100%;
  position: relative;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  background-color: black;
}

.table-header-row {
  font-family: 'Xoireqe';
  font-size: 0.75rem;
  height: 1.5rem;
  color: rgb(208, 208, 208);
  background: linear-gradient(to bottom, black, rgba(47, 47, 47));
}

.item-column-name {
  display: flex;
  justify-content: start;
  padding-left: 0.3rem;
}

.quantity-column-name {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.3rem;
}

.table-row {
  position: relative;

  & td {
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid black;
  }

  & td::before,
  & td::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.175rem;
  }

  & td::before {
    top: 0;
    background: linear-gradient(to bottom, white, transparent);
  }

  & td::after {
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
  }
}

.item-name,
.item-quantity {
  font-family: 'Two Weekends Sans';
}

.item-icon {
  width: 1rem;
  height: 1rem;
}

.item-cursor {
  position: absolute;
  transform: translateX(-75%) translateY(20%);
  z-index: 1;
  display: none;
}

.item-name {
  display: flex;
  align-items: center;
  height: 2rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100'><polygon points='0,0 100,0 0,100' fill='rgb(165, 165, 165)' /></svg>");
  background-size: cover;
  padding: 0 1.75rem 0 0.3rem;
  gap: 0.25rem;
  white-space: nowrap;
  color: black;
  cursor: pointer;

  &.active .item-cursor {
    display: block;
  }

  &:not(.active):hover .item-cursor {
    display: block;
    opacity: 0.5;
  }
}

.item-quantity {
  display: flex;
  align-items: center;
}
