@keyframes fadeInFromTop {
  from { opacity: 0; transform: translate(0, -5rem) }
  to { opacity: 1; transform: translate(0, 0) }
}

@keyframes fadeInFromRight {
  from { opacity: 0; transform: translate(5rem, 0) }
  to { opacity: 1; transform: translate(0, 0) }
}

@keyframes fadeInFromBottom {
  from { opacity: 0; transform: translate(0, 5rem) }
  to { opacity: 1; transform: translate(0, 0) }
}

@keyframes fadeInFromLeft {
  from { opacity: 0; transform: translate(-5rem, 0) }
  to { opacity: 1; transform: translate(0, 0) }
}

.fade-in-from-top {
  animation: fadeInFromTop var(--app-page-transition-animation-time);
}

.fade-in-from-right {
  animation: fadeInFromRight var(--app-page-transition-animation-time);
}

.fade-in-from-bottom {
  animation: fadeInFromBottom var(--app-page-transition-animation-time);
}

.fade-in-from-left {
  animation: fadeInFromLeft var(--app-page-transition-animation-time);
}
