aside {
  width: 23rem;
}

app-title-ruler {
  display: block;
  margin-bottom: .25rem;
}

ul {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(30, 30, 30), transparent);
  color: white;
}

li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 100'><polygon points='0,48 37,48 100,120 0,100' fill='rgb(30, 30, 30)' /></svg>") no-repeat center/cover;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: .1rem;
    background: linear-gradient(to right, rgb(137, 137, 137), transparent);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;

  & span {
    font-weight: bold;
    transform: translateX(8rem);
  }
}
