<aside (mouseleave)="hideCursor()">
  <app-title-ruler [title]="title" align="end" />
  <ul>
    @for (item of items; track $index) {
      <li
        (mouseenter)="moveCursor($event, $index)"
        (mouseenter)="setHelpHeaderText(item.helpHeaderText)"
      >
        <a [routerLink]="item.url" routerLinkActive="active" ariaCurrentWhenActive="page">
          <app-cursor glide />
          <span class="text-outlined">{{ item.title }}</span>
        </a>
      </li>
    }
  </ul>
  <app-cursor
    *ngIf="isCursorVisible"
    selection
    [style.top.px]="cursorY"
  />
</aside>
