main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100dvh;

  & > div {
    flex-grow: 1;
    height: 0;

    & > div {
      max-width: var(--app-max-width);
      height: 100%;
      margin: 0 auto;
    }
  }
}
