:host {
  display: grid;
  grid-template-rows: minmax(2rem, 5dvh) 1fr minmax(2rem, 5dvh);
  height: 100dvh;
}

main {
  display: grid;
  align-content: start;
  width: min(100%, var(--app-max-width));
  margin: 0 auto;
  overflow: hidden;
}
