main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  width: 90rem;
  height: 100vh;
}

div {
  flex-grow: 1;
  min-height: 0;
  padding: 1rem 0;
  overflow: auto;
}
