div:first-child {
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 1;
}

div:last-child {
  padding: 0 .125rem;
}

hr {
  border: none;
  height: .125rem;
  margin: 0;
  background-color: white;
}
