@font-face {
  font-family: 'Public Sans';
  src: local('Public Sans'), url(/assets/fonts/PublicSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Xoireqe';
  src: local('Xoireqe'), url(/assets/fonts/XOIREQE.TTF) format('truetype');
}

@font-face {
  font-family: 'Two Weekends Sans';
  src: local('Two Weekends Sans'), url(/assets/fonts/twoweekendssans-regular.otf) format('opentype');
}
