:root {
  --app-max-width: 90rem;
  --app-padding: 1rem;
  --app-page-transition-animation-time: 0.5s;
  --app-categories-max-width: 23rem;
}

#root {
  margin: 0 auto;
  padding: var(--app-padding);
  width: var(--app-max-width);
  min-width: var(--app-max-width);
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, white 0%, rgb(150, 150, 150) 100%);
}

.outlined {
  filter: drop-shadow(0 0 0.75px black)
          drop-shadow(0 0 0.75px black)
          drop-shadow(0 0 0.75px black)
          drop-shadow(0 0 0.75px black)
          drop-shadow(0 0 0.75px black);
}
